<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>201186F627C2F4E500ADF5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2011870C27C2F4E700ADF5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2011871627C2F4E700ADF5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
